%h3
  = @show_phase.name.capitalize + " Phase"
  %small= link_to 'add post', project_url(@project.id, page: 'new', phase: @show_phase.name)

- @posts.each do |post|
  .row
    .large-2.columns
      = image_tag post.user.profile_pic
      %p= post.user.name? ? post.user.name : "Anonymous"
    .large-10.columns
      %b= link_to post.title, project_url(@project.id, page: 'show', phase: @show_phase.name, post_id: post.id)
      %small= post.updated_at.strftime("%m/%d/%y at %I:%M%P")
      = if post.attachment? then image_tag 'https://s3.amazonaws.com/mks_learn_app/paperclip.png', width: '12px' end
      %p= post.message.truncate(300)
