= form_for Post.new do |f|
  .row
    .large-8.columns
      = f.text_field :title, placeholder: "Title"

      = f.text_area :message, placeholder: "Type your message...", rows: 15
      %br
      = f.file_field :attachment, placeholder: "Paste your attachment..."

      = f.hidden_field :project_id, value: @project.id
      = f.hidden_field :phase_id, value: params[:phase]
      = f.hidden_field :user_id, value: current_user.id

      = f.submit 'Upload'
