%h1.text-center
  Active Projects
  %small= link_to 'New Project', new_project_path

.row
  .large-9.large-centered.columns
    = form_for(@project, remote: true) do |f|
      - if @project.errors.any?
        #error_explanation
          %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
          %ul
            - @project.errors.full_messages.each do |msg|
              %li= msg
      .field
        = f.label :name
        = f.text_field :name
        = f.hidden_field :project_id, value: @project.id

      .actions
        = f.submit 'Save'

    %table
      %thead
        %tr
          %th Name
          %th Subscribed
          %th Last updated
          %th
          %th
      %tbody.projects
        - @projects.each do |project|
          = render "show", project: project

    
