%p#notice= notice

%h1= @project.name
%p
  Current Phase:
  %b= "#{@project.phase.name.capitalize} Phase"


%b= @show_phase.name.capitalize + " Phase"
= link_to 'add post', project_url(@project.id, page: 'new', phase: @show_phase.name)

= render "projects/posts/#{@page}"


= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
