%p#notice= notice

%h1= @project.name

%ul.disc
  %b Phases
  - phases.each do |phase|
    %li
      = phase.capitalize
      - if phase == @project.phase.name 
        =link_to "#{phase.capitalize}<--", project_url(@project.id, phase: phase)
      - else
        = link_to phase.capitalize, project_url(@project.id, phase: phase)
%br
%br


= render "projects/posts/#{@page}"
