=render partial: 'layouts/projects'

%h3
  = @phase.name + " Phase"
  = link_to 'add post', new_project_post_path(@project, phase_id: @phase), class: ['tiny', 'button']
  - if @project.users.include?(current_user)
    %small= link_to "Unsubscribe", project_subscription_path(project_id: @project.id, id: current_user.subscriptions.where(project_id: @project.id).first), method: :delete
  - else
    %small= link_to "Subscribe", project_subscriptions_path(project_id: @project.id), method: :post

- @posts.each do |post|
  .row
    .large-2.columns
      = image_tag post.user.profile_pic
      %p= post.user.name
    .large-10.columns
      %b= link_to post.title, project_post_path(@project, post, phase_id: @phase)
      %small= post.updated_at.strftime("%m/%d/%y at %I:%M%P")
      = if post.attachment? then image_tag 'https://s3.amazonaws.com/mks_learn_app/paperclip.png', width: '12px' end
      %p= post.message.truncate(300)
