%h1
  = @projects.name
  - if @project.users.include?(current_user)
    %small= link_to "Unsubscribe", project_subscription_path(project_id: @project.id, id: current_user.subscriptions.where(project_id: @project.id).first), method: :delete
  - else
    %small= link_to "Subscribe", project_subscriptions_path(project_id: @project.id), method: :post

.row
  .large-3.columns
    %ul.no-bullet
      %h5 Phases
      - phases.each do |phase|
        %li
          - if phase == @project.phase.name
            =link_to "#{phase.capitalize} <--", project_url(@project.id, phase: phase)
          - else
            = link_to phase.capitalize, project_url(@project.id, phase: phase)

%br

= render "projects/posts/#{@page}"
