= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :message
    = f.text_area :message
  .field
    = f.label :attachment
    = f.text_field :attachment
  .field
    = f.label :phase
    = f.text_field :phase
  .field
    = f.label :project
    = f.text_field :project
  .actions
    = f.submit 'Save'
