%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Message:
  = @post.message
%p
  %b Attachment:
  = @post.attachment
%p
  %b Phase:
  = @post.phase
%p
  %b Project:
  = @post.project

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
