%html
  %head
    %meta{ :charset => "utf-8" }
    -# Set the viewport width to device width for mobile
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title Ativa
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            = link_to 'Ativa', root_url
        %li.toggle-topbar.menu-icon
          %a{href: '#'}
            %span Menu
      %section.top-bar-section
        %ul.right
          %li
            = link_to 'My Account', user_url(User.last.id)
    .row
      .large-12.columns
        - if flash.present?
          - flash.each do |name, msg|
            = content_tag :div, msg, class: name
        = yield

        = javascript_include_tag "application"
