!!!
%html
  %head
    %title Ativa
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .row
      .large-1.columns
      .large-11.columns
        = link_to 'Home', root_url
        |
        - if user_signed_in?
          = link_to 'My Account', user_url(current_user.id)
          |
          = link_to 'Edit profile', edit_user_registration_path
          |
          = link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign up", new_user_registration_path
          |
          = link_to "Sign in", new_user_session_path

        %p.notice= notice unless notice.blank?
        %p.alert= alert unless alert.blank?

        = yield
      .large-11.columns
