%html
  %head
    %title Ativa
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %div.contain-to-grid
      %nav.top-bar
        %ul.title-area
          %li.name
            %h1
              = link_to 'Ativa', root_url
        %section.top-bar-section
          %ul.right
            %li
              = link_to 'My Account', user_url(User.last.id)
    .row
      .large-12.columns
        = yield